<!--Componente about, página de Acerca-->
<p style="padding: 15px;">Shapp, web app simple creada con Angular para el módulo de DWEC.</p>
<p style="padding: 15px;">Creada por <a href="https://github.com/tryn0">Guillermo Pérez Aragón</a>, alumno de 2º de DAW en el IES Polígono Sur, con el cliente Angular</p>
<a href="https://cli.angular.io/" target="_blank"><img style="padding: 15px;" src="assets/images/angular.png" width="10%"></a>
<p style="padding: 15px;">&copy; Prohibida la copia y uso no permitido.</p>