<!--Componente home, página de Inicio-->
<!--Aquí se listan todos los producto de la base de datos (JSON)-->
<div style="padding: 13px;">
    <mat-spinner *ngIf="products.length === 0"></mat-spinner>
    <mat-card *ngFor="let product of products" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>
                {{product.name}}
            </mat-card-title>
            <mat-card-subtitle>
                Precio: {{product.price}}€, stock: {{product.quantity}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{product.description}}
            </p>
            <img style="height:100%; width: 100%;" src="{{ product.imageUrl }}" />
        </mat-card-content>
        <mat-card-actions>
      <button (click)="comprar(product)" mat-button> Ver producto</button>
    </mat-card-actions>
    </mat-card>
</div>
<div>
    <button (click) ="firstPage()" mat-button> Primera página</button>/
    <button (click) ="previousPage()" mat-button> Página anterior </button>/
    <button (click) ="nextPage()" mat-button> Siguiente página</button>/
    <button (click) ="lastPage()" mat-button> Última página</button>
</div>